/* shift+Alt+A yorum satırı getirir */

h2{
    background-color: rgb(168, 224, 121);
    text-align: center;
}
*{
    text-align: center;
    color: rgba(224, 21, 21, 0.151);
}

a{
    color: rgb(132, 107, 189);
    text-decoration-line: inherit;
    font-size: 25px;
   
}



